/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* romanesco-regular - latin */
@font-face {
    font-family: 'Romanesco';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/romanesco-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/romanesco-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/playfair-display-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/playfair-display-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


 html{
      box-sizing: border-box;
 }     
 *, *::before, *::after{
      box-sizing: inherit;
 }
 
 .wrapper{
     max-width: 1140px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .body{ /* дефолтні значення для нового тексту */
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
    line-height: 1.2;
    font-weight: normal;
    color:aqua;
 }
/* Header styles start*/
 .header{
    background-color: #131312;
    top: 0;
    left: 0;
    width: 100%;
 }
 .header_active{
   background: #131312;
 }

 .header_wrapper{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     justify-content: space-between;
 }

 .header_list{
    display: flex;
    flex-wrap: wrap;
 }

.header nav{
    display: flex;
    justify-content: space-between;
}

 .header_item{
     display: flex;
     justify-content: flex-start; 
     /* justify-content: center;  */
    /*  margin-right: 84px;  відступи між кнопками */
 }

.header_link{
    display: flex;
    justify-content: center;
    padding: 15px 40px 15px 40px;
    width: 209.5px; 
    font-family: Roboto;
    font-size: 18px;
    line-height: 24 px;
    color:#FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header_logomini_pic{
    margin-bottom: 50px;

}

.header_logo_pic{
    margin-bottom: 1px;
}

.header_nav{
    padding-bottom: 41.5px;
}

.header_list>li:hover .submenu_list{
    display: block;
    transition: all 0.3s ease;
} 
.submenu_list>li:hover .sub_submenu_list{
    display: block;
    transition: all 0.3s ease;
} 

.header_link:hover { 
    background: #FFFFFF;
    border-left: 1px solid #131312;
    border-right: 1px solid #131312;
    color: #131312;
    transition: all 0.3s ease;
}


.submenu_item:hover {
    background: #bdbdb5;
    transition: all 0.3s ease;
}
.sub_submenu_item:hover {
    background: #bdbdb5;
    transition: all 0.3s ease;
}

.submenu_list{
    display: none;
    min-width: 209.5px;
    margin-top: 48px;
    position: absolute;
}

.submenu_item:first-child{
    border-top: 1px solid #131312;
}

.submenu_item{
    min-width: 209.5px; 
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-left: 1px solid #131312;
    border-right: 1px solid #131312;
    border-bottom: 1px solid #131312;
    transition: all 0.3s ease;
}
.sub_submenu_list{
    display: none;
    position: absolute;
    right: -209.5px;
    top: 41px;
}
.submenu_link{
    padding: 10px 25px 10px 25px;
    font-family: Roboto;
    font-size: 15x;
    line-height: 20px;
    text-decoration: none;
    color: #131312;
} 



/*header_burger*/
.header_burger{
    display: none;
    width: 60px;
    height: 52px;
    margin-right: 50px;
    position: relative;
    margin-bottom: 39.5px;
}
.burger_line{
    background-color: #9F9999;
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
} 
.burger_line_1{
    top: 0;
}
.burger_line_2{
    top: 50%;
    transform: translateY(-50%);
}
.burger_line_3{
    bottom: 0;
}
/* Header styles end*/

/* Submit form start */

.form {
    display: none;
    position: absolute;
	background-color: rgb(116, 116, 116);
	border: 2px solid #131312;
	height: 350px;
	width: 420px;
    margin-top: 200px;
    margin-left: 40%;
	text-align: center;
}

.mainText {
	font-size: 27px;
	margin: 40px 0 5px 0;
	color: #030303;
}
.secondText {
	font-size: 18px;
	margin: 0;
	color: #030303;
	margin-bottom: 25px;
}

.formInput {
	background: #f1f1f1;
	height: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 15px auto 0 auto;
}

.formInput input {
	flex: .7;
	background: #f1f1f1;
	border: none;
	outline: none;
	font-size: 15px;
}

.send {
	border: none;
	color: #131312;
	background: #E8E141;
	width: 180px;
	height: 40px;
	border-radius: 40px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
	transition: .4s;
	outline: none;
}

.send:hover {
    color: #E8E141;
	background: #131312;
}

/* Submit form end*/

/* Intro styles start*/
.intro{
    min-height: 100vh;
    background: url(../img/Background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 50px;
}
.intro_title{
    max-width: 500px; /*границя тексту*/
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 50px;
    line-height: 67px;
    color: #000000; 
    margin-bottom: 13px; /* відступ до наступного тексту */
}
.intro_subtitle{
    max-width: 305px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #121111;
    margin-bottom: 68px; /* відступ до наступного тексту */ 
}
.search_form_field{
    width: 266px;
    background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 3px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #121111; /*строрити лінію в 2 пікселі*/
    margin-right: 41px;
    padding-left: 43px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #121111;
}
.search_form_field::placeholder{ /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
    font-size: 18px;
    line-height: 24px;
    color: #121111;
}
.search_form_submit{ /*задати форму кнопці*/
    padding: 27px 51px; /*відступи від тексту до стінок кнопки*/
    text-transform: uppercase; /*зробити великі букви в кнопці*/
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    background: #E8E141;
    border-radius: 25px;
    border: 0;
}
.search_form_submit:hover, .search_form_submit:focus, .search_form_submit:active{ /*Підсвітити кнопку коли активна*/
    background: #a09c2d;
}
/* Intro styles end*/

/* Prices start */
.prices{
    max-width: 1140px;
    margin: 100px auto;
}
.prices__title{
    margin-bottom: 54px;
}

.prices__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prices__card-pic{
    position: relative;
}

.prices__card{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 30px;
}

.prices__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.prices__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.prices__card-more{
    width: 350px;
    padding: 12px 19px;
    background: #E8E141;
    text-decoration: none;
    color: #131312;
    font-size: 16px;
    margin: auto 0 0 0 ;
}

.prices__card-pic:hover, .prices__card-pic:focus, .prices__pic-more:active{
    opacity: 0.90;
}

.prices__card-more:hover, .prices__card-more:focus, .prices__card-more:active{
    background: #131312;
    color: #E8E141;
}
/* Prices end  */

.adaptimage{
    width: 100%;
}

/* Videos styles start */

.videos{
    width: 100%;
    background: #131312;
}

.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item{
    padding-top: 56.25%;
}

.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Videos styles end */

/* footer styles start*/
.footer{
    background-color: #131312;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.footer{
    height: 149px;
}
.footer_item{
    display: flex;
    flex-wrap: wrap;
    height: 149px;
}
.footer_nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
    align-items: center;
}

.footer_menu_link{
    text-decoration: none; /*забрати пікселі на лінку*/
    margin-right: 57px; /* відступи між кнопками */
}
.footer_menu_link:last-child { /* відступи від останньої кнопки */
    margin-right: 0px;
}
.footer_menu_link:hover, .footer_menu_link:focus, .footer_menu_link:active{ /*Підсвітити кнопки */
    opacity: .80;
} 
.footer_menu_item_email{
    font-family: Roboto;
    max-width: 223px;
    margin: 0;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.footer_menu_item_number{
    font-family: Roboto;
    max-width: 172px;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;  
    align-items: center;
    text-align: center;
}
/* footer styles end*/

/* media styles start*/
@media screen and (max-width: 1120px){

}
@media screen and (max-width: 1045px){
    .header_list>li:hover .submenu_list {
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.3s ease;
    }
    .submenu_list{
        min-width: 300px;
        margin-top: 0px; 
    }
    .header_item{
        flex-direction: column;
    } 
   .header_link{
       display: flex;
       justify-content: start;
       padding: 15px 40px 15px 40px;
       width: 300px; 
   }
    .header_burger{
        display: block;
    }
    .header_list{
        display: flex;
        flex-direction: column;
    }
    .header_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        padding: 20px;
        transform: translate(100%);
        transition: 0.2s all linear;
    }
    .header_nav_close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header_nav_close_line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }
    .header_nav_close_line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header_nav_close_line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .header_nav_active{
        transform: translateX(0);
    } 
    .header_item{
        min-width: 300px;
        min-height: 30px;
    }

    .header_link{
        width: 300px;
        height: 100px;
        font-size: 30px;
        line-height: 35px;
    }

}
@media screen and (max-width: 920px){
    .footer_menu_link{
        margin-right: 8px; 
    }
}
@media screen and (max-width: 678px){
    .intro_title{
        max-width: 300px; /*границя тексту*/
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #000000; 
        margin-bottom: 6px; /* відступ до наступного тексту */
    }
    .intro_subtitle{
        max-width: 250px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #121111;
        margin-bottom: 57px; /* відступ до наступного тексту */ 
    }
    .intro{
        padding-top: 68px;
    }
    .search_form_field{
        width: 160px;
        background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 9px;
        background-size: 13px;
        border: 0;
        border-bottom: 2px solid #121111; /*строрити лінію в 2 пікселі*/
        margin-right: 14px;
        padding-left: 19px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_field::placeholder{ /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
        font-size: 11px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_submit{ /*задати форму кнопці*/
        padding: 13px 16px; /*відступи від тексту до стінок кнопки*/
        text-transform: uppercase; /*зробити великі букви в кнопці*/
        font-size: 15px;
        line-height: 15px;
        color: #000000;
        background: #E8E141;
        border-radius: 25px;
        border: 0;
    }

}
@media screen and (max-width: 650px){
    .header_logo{
        margin-bottom: 1px;
    }
    .header_burger{
        width: 30px;
        height: 26px;
        margin-right: 15px;
        margin-bottom: 25px;
    }
    .burger_line{
        width: 100%;
        height: 2px;
    }
    .footer{
        height: 76px;
    }
    .footer_item{
        height: 76px;
    }
    .footer_menu_item_email{
        font-family: Roboto;
        max-width: 106px;
        margin: 0;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
    }
    .footer_menu_item_number{
        font-family: Roboto;
        max-width: 86px;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;  
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 361px){
    .header_burger{
        width: 30px;
        height: 26px;
        margin-right: 15px;
    }
    .burger_line{
        width: 100%;
        height: 2px;
    }
    .intro_title{
        max-width: 189px; /*границя тексту*/
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #000000; 
        margin-bottom: 6px; /* відступ до наступного тексту */
    }
    .intro_subtitle{
        max-width: 120px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
        color: #121111;
        margin-bottom: 57px; /* відступ до наступного тексту */ 
    }
    .intro{
        padding-top: 68px;
    }
    .search_form_field{
        width: 136px;
        background: transparent url(../img/svg/Circe-icon.svg) no-repeat left 13px;
        background-size: 9px;
        border: 0;
        border-bottom: 1px solid #121111; /*строрити лінію в 2 пікселі*/
        margin-right: 14px;
        padding-left: 19px;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_field::placeholder{ /*параметри кнопки для вводу "Куди ти хочеш поїхати?"*/
        font-size: 8px;
        line-height: 24px;
        color: #121111;
    }
    .search_form_submit{ /*задати форму кнопці*/
        padding: 11px 16px; /*відступи від тексту до стінок кнопки*/
        text-transform: uppercase; /*зробити великі букви в кнопці*/
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        background: #E8E141;
        border-radius: 25px;
        border: 0;
    }
    .footer_menu_link{
        margin-right: 2px; /* відступи між кнопками */
    }
    .footer_menu_item_email{
        font-family: Roboto;
        max-width: 223px;
        margin: 0;
        font-size: 8px;
        line-height: 9px;
        color: #FFFFFF;
    }
    .footer_menu_item_number{
        font-family: Roboto;
        max-width: 70px;
        font-size: 8px;
        line-height: 9px;
        color: #FFFFFF;  
        align-items: center;
        text-align: center;
    }
}
/* media styles end*/